* {

    --white: hsl(0, 0%, 100%);
    --Slate1: hsl(212, 45%, 89%);
    --Slate2: hsl(216, 15%, 48%);
    --Slate3: hsl(218, 44%, 22%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Outfit;
}

html, body {
    height: 100%;
    width: 100%;
    color: var(--Slate3);
    background-color: var(--Slate1);
    justify-content: center;
    align-items: center;
    display: flex;
}
main{
    background-color: var(--white);
    max-width: 400px;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    padding: 20px;
    border-radius: 20px; 
}.image{
    width: 100%;
    height: 65%;
    background-image: url(/images/image-qr-code.png);
    background-size: cover;
    
    border-radius: 20px;
}
 
.text{
    padding: 25px;
    width: 100%;
    height: 35%;
    text-align: center;
}
.text h2{
    color: var(--Slate3);
    font-weight: 760;
    font-size: 1.6rem;
}
.text p{
    color: var(--Slate2);
    font-weight: 500;
    padding-top: 15px;
    font-size: 17px;
}
#code{
    font-size: 13px;
    color: var(--Slate2);
    cursor: pointer;
}
#code:hover{
    color: var(--Slate3);
    font-size: 13.5px;
}

@media (max-width:400px) {
    main{
        height: 100vh;
    }
    .image{
        background-position: center;        
    }
    .text h2{
        font-size: 1.3rem;
    }
    .text p{
        font-size: 14px;
    }
}
